@import "compass/css3";

body, html{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-align: center;
    height: 100%;
    overflow: hidden;
}

nav {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 10;
    background-color: #212121;
    
    ul {
     display: inline-block; 

     a {
        color: rgba(255, 255, 255,0.45);
        font-size: 0.875rem;
        display: block;
        text-decoration: none;
        padding: 6px 15px;

        &:hover {
          color: #fff;
        }
     }
    }
}
